<div class="navbar-fixed">
  <nav >
    <div class="nav-wrapper" style="padding-bottom: 0;">
      <a href="{% url 'index' %}" class="brand-logo left white-text">jobseekrs</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!--navbar icons-->
        <li><a href="/"><i class="material-icons white-text">home</i></a></li>
        {% if user.is_authenticated %}

          <li><a href="{% url 'pitch' %}" class="white-text"><i class="material-icons white-text">view_list</i>pitches</a></li>
          <li> <a href="{% url 'upload_cv' %}" class="white-text"><i class="material-icons white-text">vertical_align_top</i>Upload cv</a></li>
          <li><a href="{% url 'profile' %}"><i class="material-icons white-text">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons white-text">exit_to_app</i></a></li>
          
        {% else %}
          <li><a href="{% url 'login' %}" class="white-text">login</a></li>
          <li><a href="{% url 'register' %}" class="white-text">register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/"><i class="material-icons white-text">home</i></a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'pitch' %}" class="white-text"><i class="material-icons white-text">view_list</i>pitches</a></li>
        <li> <a href="{% url 'upload_cv' %}" class="white-text"><i class="material-icons white-text">vertical_align_top</i>Upload cv</a></li>
        <li><a href="{% url 'profile' %}" class="white-text"><i class="material-icons white-text">account_circle</i>view profile</a></li>
        <li><a href="{% url 'logout' %}" class="white-text"><i class="material-icons white-text">exit_to_app</i>logout</a></li>
        
      {% else %}
        <li><a href="{% url 'login' %}" class="white-text">login</a></li>
        <li><a href="{% url 'register' %}" class="white-text">register</a></li>
      {% endif %}
</ul>